.mask{
	position:absolute;
	left:0;
	top:0;
	background:#ccc;
	opacity:0.3;
	filter:alpha(opacity=30);
	width:100%;
	height:100%;
	display:none;
	z-index:9999;
}
.mask-msg{
	position:absolute;
	cursor1:wait;
	left:40%;
	top:45%;
	width:auto;
	height:40px;
	padding:12px 5px 10px 30px;
	background:#fff url('/resources/images/icons/pagination_loading.gif') no-repeat scroll 5px 10px;
	border:2px solid #6593CF;
	color:#222;
	display:none;
	z-index:9999;
}